:root {
  --color-primary: #101d2c;
  --color-primary-dark: #0a121b;
  --color-primary-light: #182c42;
  --color-secondary: #f5a271;
  --color-secondary-dark: #965e3e;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --font-primary: "Rubik", sans-serif; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: var(color-grey-dark-2);
  font-weight: 300;
  line-height: 1.6;
  font-family: var(--font-primary);
  color: var(--color-grey-dark-1); }

.container {
  display: grid;
  grid-template-rows: 10vh min-content 20vh;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [full-end sidebar-start] 8rem [sidebar-end]; }

.main {
  display: grid;
  grid-column: full-start / full-end;
  grid-template-rows: 110vh 70vh 70vh; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.heading-2 {
  font-size: 3.5rem;
  padding: 0.5rem;
  text-align: center; }

.header {
  background-color: var(--color-primary);
  border-bottom: 1px solid white;
  padding: 2rem;
  display: flex;
  justify-content: center; }
  .header__title {
    font-size: 3rem;
    text-transform: uppercase;
    margin-left: 3rem;
    letter-spacing: 0.25rem;
    color: lightgray; }

.sidebar {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }
  .sidebar__nav-btn {
    border: none;
    border-radius: 0;
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;
    position: fixed; }
    .sidebar__nav-btn::before, .sidebar__nav-btn::after {
      background-color: #fff;
      height: 2px;
      width: 4.5rem;
      content: "";
      display: block; }
    .sidebar__nav-btn::before {
      transform: translateY(-1.5rem); }
    .sidebar__nav-btn::after {
      transform: translateY(1.3rem); }

.footer {
  background-color: var(--color-primary);
  grid-column: full-start / full-end;
  grid-row: 3 / span 1;
  padding: 5rem; }

.nav {
  margin: auto;
  width: 80%;
  list-style: none;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 1.5rem;
    transition: all 0.2s; }
  .nav__link:hover, .nav__link:active {
    background-color: var(--color-primary-light);
    transform: translateY(-3px); }

.copyright {
  color: white;
  text-align: center;
  margin-top: 3rem; }

.game {
  background-image: linear-gradient(to right bottom, rgba(16, 29, 44, 0.8), rgba(11, 19, 29, 0.8)), url(../img/background2.jpg);
  backdrop-filter: blur(10px);
  background-size: cover;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .game__wrapper {
    width: min-content;
    padding: 3% 15% 7% 15%;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .game__choose {
    display: flex;
    align-items: center; }
  .game__choose-text {
    color: white;
    padding: 0.5rem;
    font-size: 2rem; }
  .game__selectors {
    padding: 1rem;
    cursor: auto; }
  .game__turn-selector, .game__turn-image {
    width: 5rem;
    padding: 0.5rem; }
  .game__turn-selector {
    border-radius: 25%;
    cursor: pointer; }
  .game__active {
    cursor: auto;
    border-bottom: 2px solid var(--color-primary); }
  .game__turn {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    visibility: hidden; }
  .game__turn-text {
    margin-left: 0.5rem;
    font-size: 1.5rem; }
  .game__board {
    position: relative; }
  .game__table {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    box-shadow: var(--shadow-light); }
  .game__square {
    height: 18rem;
    border-radius: 0.5rem; }
  .game__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: var(--color-secondary);
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    box-shadow: var(--shadow-dark);
    transition: all 0.2s; }
    .game__button:hover, .game__button:active {
      background-color: var(--color-secondary-dark);
      cursor: pointer; }

.instructions {
  grid-row: 2 / span 1;
  background-color: var(--color-grey-light-1);
  display: grid;
  grid-template-rows: 0.75fr 2fr 1.5fr;
  justify-items: center;
  align-items: center;
  text-align: center; }
  .instructions__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    align-self: end; }
  .instructions__icon {
    height: 3rem;
    width: 3rem;
    padding: 0 0.5rem;
    fill: var(--color-grey-dark-1); }
  .instructions__text {
    font-size: 2rem;
    padding: 1.5rem; }
    .instructions__text::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.7rem;
      background-image: url(../img/SVG/chevron-thin-right.svg);
      background-size: cover; }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .instructions__text::before {
          background-color: white;
          -webkit-mask-image: url(../img/SVG/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          mask-image: url(../img/SVG/chevron-thin-right.svg);
          mask-size: cover;
          background-image: none; } }
  .instructions__examples {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    width: 25%; }
  .instructions__example {
    width: 12rem;
    padding: 0.5rem;
    border-radius: 0.5rem; }

.other-games {
  grid-row: 3 / span 1;
  display: grid;
  grid-template-rows: 0.75fr 2fr;
  align-items: center;
  background-color: #fff;
  text-align: center; }
  .other-games__header {
    align-self: end;
    padding: 1rem; }
  .other-games__images {
    display: flex;
    justify-content: space-around; }
  .other-games__game {
    width: 20%;
    text-align: center; }
  .other-games__wrapper {
    width: 100%;
    border-radius: 1rem;
    position: relative; }
  .other-games__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    transition: opacity 0.4s ease-out;
    transition: transform 0.2s;
    opacity: 0;
    font-family: inherit;
    font-size: 1.5rem; }
    .other-games__btn:hover {
      background-color: var(--color-secondary);
      color: white;
      transform: translate(-50%, -45%); }
    .other-games__btn:active, .other-games__btn:focus {
      box-shadow: var(--box-shadow-dark);
      transform: translate(-50%, -50%);
      outline: none; }
  .other-games__wrapper:hover .other-games__btn {
    border: 0.4rem solid var(--color-secondary);
    color: black;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    opacity: 1;
    z-index: 100; }
  .other-games__wrapper:hover .other-games__img {
    opacity: 0.2; }
  .other-games__img {
    width: 100%;
    border-radius: 1rem;
    transition: all 0.4s ease-out;
    box-shadow: var(--shadow-dark); }
  .other-games__text {
    font-size: 2rem; }
