:root {
  --color-primary: rgb(39, 134, 134);
  --color-primary-dark: rgb(36, 105, 105);
  --color-primary-transparent: rgb(39, 134, 134, 0.2);
  --color-secondary: #3e444b;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --font-primary: 'Nunito', sans-serif; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: var(color-grey-dark-2);
  font-weight: 300;
  line-height: 1.6;
  font-family: var(--font-primary); }

.container {
  display: grid;
  grid-template-rows: 20vh [main-start] min-content [main-end] 20vh;
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(4rem, 1fr) [full-end]; }

.main {
  display: grid;
  grid-column: full-start / full-end;
  background-color: var(--color-grey-light-2); }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.header {
  background-color: var(--color-primary);
  grid-column: full-start / full-end;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .header__logo {
    height: 15rem;
    box-shadow: var(--shadow-dark); }
  .header__title {
    font-size: 3rem;
    text-transform: uppercase;
    margin-left: 3rem;
    letter-spacing: 0.2rem; }

.sidebar {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4rem;
  margin-top: 4rem; }
  .nav-btn::before, .nav-btn::after {
    background-color: #fff;
    height: 2px;
    width: 4rem;
    margin-top: 0;
    content: "";
    display: block; }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  .nav-btn::after {
    transform: translateY(1.3rem); }

.footer {
  background-color: var(--color-primary);
  grid-column: full-start / full-end; }

.game {
  grid-column: 1 / span 1;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 4rem; }
  .game__section {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .game__choose {
    display: flex;
    align-items: center;
    padding: 0.5rem; }
  .game__choose-text {
    margin-right: 0.5rem;
    font-size: 1.5rem; }
  .game__turn-selector, .game__turn-image {
    width: 3rem; }
  .game__turn-selector {
    cursor: pointer; }
  .game__active {
    border-bottom: 2px solid var(--color-primary);
    cursor: auto; }
  .game__turn {
    display: flex;
    align-items: center;
    padding: .5rem;
    margin-bottom: .5rem; }
  .game__turn-text {
    margin-left: .5rem;
    font-size: 1.5rem; }
  .game__board {
    position: relative; }
  .game__table {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    background-color: var(--color-grey-light-2);
    opacity: 0.6;
    box-shadow: var(--shadow-light); }
  .game__square {
    height: 18rem; }
  .game__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: var(--color-primary);
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    box-shadow: var(--shadow-dark);
    transition: all .2s; }
    .game__button:hover, .game__button:active {
      background-color: var(--color-primary-dark);
      cursor: pointer; }

.instructions {
  justify-self: center;
  display: flex;
  align-items: center;
  text-align: center;
  color: white; }
  .instructions__section {
    background-color: var(--color-grey-dark-2);
    width: 40rem; }
  .instructions__header {
    display: flex;
    align-items: center;
    justify-content: center; }
  .instructions__icon {
    height: 3rem;
    width: 3rem;
    padding: 0 .5rem;
    fill: white; }
  .instructions__header-text {
    font-size: 3rem;
    padding: 0.5rem;
    text-align: center; }
  .instructions__text {
    font-size: 1.5rem;
    padding: .5rem; }
    .instructions__text::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: .7rem;
      background-image: url(../img/SVG/chevron-thin-right.svg);
      background-size: cover; }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .instructions__text::before {
          background-color: white;
          -webkit-mask-image: url(../img/SVG/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          mask-image: url(../img/SVG/chevron-thin-right.svg);
          mask-size: cover;
          background-image: none; } }
  .instructions__example {
    width: 10rem; }
