html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol,
ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

button {
  background: none; }

:root {
  --color-primary: #101d2c;
  --color-primary-dark: #0a121b;
  --color-primary-light: #182c42;
  --color-secondary: #1e2e4b;
  --color-secondary-dark: #965e3e;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --font-primary: "Rubik", sans-serif; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 56.3em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%;
      -webkit-text-size-adjust: none; } }

body {
  font-family: "Nunito", sans-serif;
  color: var(color-grey-dark-2);
  font-weight: 300;
  line-height: 1.6;
  font-family: var(--font-primary);
  color: var(--color-grey-dark-1); }

.main {
  background: -webkit-linear-gradient(to right bottom #405475, #427380);
  background: linear-gradient(to right bottom, #405475, #427380);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  background-color: #243656;
  width: 100%;
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.heading {
  width: 100%;
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 2.5rem; }

.flip-btn {
  position: absolute;
  right: 2%;
  top: 10%;
  transition: all 0.2s ease-in-out; }
  .flip-btn__icon {
    width: 4rem; }
  .flip-btn:hover {
    cursor: pointer;
    transform: scale(1.1); }

.game__wrapper {
  display: grid;
  grid-template-rows: 15% 13% 57% 15%;
  justify-items: center;
  align-items: center; }

.game__choose {
  display: none; }
  .game__choose--active {
    display: flex;
    align-items: center;
    justify-content: center; }

.game__choose-text {
  color: white;
  padding: 0.5rem;
  font-size: 2rem; }

.game__selectors {
  padding: 0 1rem;
  cursor: auto; }

.game__selector {
  margin-left: 0.75rem;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer; }
  .game__selector--active {
    cursor: auto;
    border-bottom: 2px solid #fff; }

.game__turn {
  display: none; }
  .game__turn--active {
    display: flex;
    align-items: center;
    padding: 0.5rem; }

.game__turn-image {
  width: 6rem;
  padding: 0.5rem; }

.game__turn-text {
  margin-left: 0.5rem;
  font-size: 2rem;
  color: white; }

.game__board {
  height: 100%;
  position: relative;
  justify-items: stretch;
  align-items: stretch; }

.game__squares-wrapper {
  display: grid;
  grid-template: repeat(3, calc(33% - 0.33rem))/repeat(3, calc(33% - 0.33rem));
  grid-gap: 1rem;
  cursor: pointer;
  background-color: #38b99f;
  height: 100%; }
  .game__squares-wrapper--inactive {
    opacity: 0.2; }

.game__square {
  height: 100%; }

.game__button {
  width: 25rem;
  background-color: #243656;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  box-shadow: var(--shadow-dark);
  text-align: center;
  transition: all 0.2s; }
  .game__button:hover {
    background-color: var(--color-primary);
    cursor: pointer; }
  .game__button:active {
    background-color: var(--color-primary);
    cursor: pointer; }

@keyframes messageAppear {
  0% {
    width: 0;
    height: 0;
    font-size: 0; }
  100% {
    width: 30rem; } }

.game__message {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 30rem;
  font-size: 2rem;
  background-color: var(--color-primary);
  padding: 1rem 2rem;
  color: white;
  border-radius: 1rem;
  animation: messageAppear 0.2s ease-out; }

.instructions {
  color: white;
  display: grid;
  grid-template-rows: 15% 42.5% 42.5%;
  justify-items: center;
  align-items: center; }
  .instructions__header {
    width: 100%;
    display: flex; }
  .instructions__icon {
    height: 3rem;
    width: 3rem;
    padding: 0 0.5rem;
    fill: white; }
  .instructions__texts {
    width: 80rem;
    max-width: 100%; }
  .instructions__text {
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem; }
    .instructions__text::before {
      content: "";
      display: inline-block;
      height: 1.2rem;
      width: 1.2rem;
      margin-right: 0.7rem;
      background-image: url(../img/SVG/chevron-thin-right.svg);
      background-size: cover; }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .instructions__text::before {
          background-color: white;
          -webkit-mask-image: url(../img/SVG/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          mask-image: url(../img/SVG/chevron-thin-right.svg);
          mask-size: cover;
          background-image: none; } }
  .instructions__examples {
    align-self: start;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    width: 70rem;
    max-width: 100%; }
  .instructions__example {
    width: 20rem;
    padding: 0.5rem;
    border-radius: 0.5rem; }

.flipcard {
  width: 75vw;
  max-width: 110rem;
  height: 90vh;
  max-height: 120rem;
  perspective: 6000px;
  -moz-perspective: 6000px;
  position: relative; }
  .flipcard__side {
    background-color: #1e2e4b;
    transition: all 0.8s ease;
    position: absolute;
    text-align: center;
    transform-style: preserve-3d;
    box-shadow: var(--shadow-dark);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden; }
  .flipcard-front, .flipcard-back {
    width: 100%;
    height: 100%; }
  .flipcard-front--active {
    transform: rotateY(-180deg); }
  .flipcard-back {
    transform: rotateY(180deg); }
    .flipcard-back--active {
      transform: rotateY(0deg); }
  @media only screen and (max-width: 56.3em) {
    .flipcard {
      width: 100%;
      height: 100vh; } }
