:root {
  // COLOR VARIABLES
  --color-primary: #101d2c;
  --color-primary-dark: #0a121b;
  --color-primary-light: #182c42;

  --color-secondary: #3e444b;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  // --font-primary: "Nunito", sans-serif;
  --font-primary: "Rubik", sans-serif;
}

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// //RESPONSIVE BREAKPOINTS - TO UPDATE
// $bp-largest: 75em;  //1200px
// $bp-large: 62.5em;  //1000px
// $bp-medium: 50em;  //800px
// $bp-small: 37.5em;  //600px

//CSS RESET

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px = 62.5% -> 1 rem =  10 px
}

body {
  font-family: $font-primary;
  color: var(color-grey-dark-2);
  font-weight: 300;
  line-height: 1.6;
  font-family: var(--font-primary);
}

.container {
  display: grid;
  grid-template-rows: 10vh min-content 20vh;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [full-end];
}

.main {
  display: grid;
  grid-column: full-start / full-end;
  grid-template-rows: 110vh 70vh 50vh;
}
