.game {
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right bottom #405475,
    #427380
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #405475,
    #427380
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    background-color: #1e2e4b;
    width: 75%;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow-dark);
    border-radius: 1rem;
    padding-bottom: 1rem;
  }

  &__header {
    background-color: #243656;
    width: 100%;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 3rem;
  }

  &__choose {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
  }

  &__choose-text {
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
  }

  &__selectors {
    padding: 1rem;
    cursor: auto;
  }

  &__turn-selector {
    margin-left: 0.75rem;
    width: 12rem;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;

    &--active {
      cursor: auto;
      border-bottom: 2px solid #fff;
    }
  }

  &__turn {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    visibility: hidden;
  }

  &__turn-image {
    width: 3.5rem;
    padding: 0.5rem;
  }

  &__turn-text {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: white;
  }

  &__board {
    display: grid;
    grid-template-rows: min-content min-content;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 3% 20%;
  }

  &__table {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 1.2rem;
    justify-items: center;
    background-color: #38b99f;

    &--inactive {
      opacity: 0.4;
    }
  }

  &__square {
    height: 18rem;
  }

  &__button {
    width: 40%;
    margin-top: 5rem;
    background-color: var(--color-secondary);
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    box-shadow: var(--shadow-dark);
    transition: all 0.2s;

    &:hover {
      background-color: var(--color-secondary-dark);
      cursor: pointer;
      transform: translateY(-1px);
    }

    &:active {
      background-color: var(--color-secondary-dark);
      cursor: pointer;
      transform: translateY(0);
    }
  }

  @keyframes messageAppear {
    0% {
      width: 0;
      height: 0;
      font-size: 0;
    }
    100% {
      width: 50%;
    }
  }

  &__message {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    align-self: center;
    justify-self: center;
    z-index: 100;
    width: 50%;
    font-size: 2rem;
    background-color: var(--color-primary);
    padding: 1rem 2rem;
    color: white;
    border-radius: 1rem;
    animation: messageAppear 0.2s ease-out;
  }
}
