.game {
  &__wrapper {
    display: grid;
    grid-template-rows: 15% 13% 57% 15%;
    justify-items: center;
    align-items: center;
  }

  &__choose {
    display: none;

    &--active {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__choose-text {
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
  }

  &__selectors {
    padding: 0 1rem;
    cursor: auto;
  }

  &__selector {
    margin-left: 0.75rem;
    width: 15rem;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;

    &--active {
      cursor: auto;
      border-bottom: 2px solid #fff;
    }
  }

  &__turn {
    display: none;

    &--active {
      display: flex;
      align-items: center;
      padding: 0.5rem;
    }
  }

  &__turn-image {
    width: 6rem;
    padding: 0.5rem;
  }

  &__turn-text {
    margin-left: 0.5rem;
    font-size: 2rem;
    color: white;
  }

  &__board {
    height: 100%;
    position: relative;
    justify-items: stretch;
    align-items: stretch;
  }

  &__squares-wrapper {
    display: grid;
    grid-template: repeat(3, calc(33% - 0.33rem)) / repeat(
        3,
        calc(33% - 0.33rem)
      );
    grid-gap: 1rem;
    cursor: pointer;
    background-color: #38b99f;
    height: 100%;

    &--inactive {
      opacity: 0.2;
    }
  }

  &__square {
    height: 100%;
  }

  &__button {
    width: 25rem;
    background-color: #243656;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    box-shadow: var(--shadow-dark);
    text-align: center;
    transition: all 0.2s;

    &:hover {
      background-color: var(--color-primary);
      cursor: pointer;
    }

    &:active {
      background-color: var(--color-primary);
      cursor: pointer;
    }
  }

  @keyframes messageAppear {
    0% {
      width: 0;
      height: 0;
      font-size: 0;
    }
    100% {
      width: 30rem;
    }
  }

  &__message {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30rem;
    font-size: 2rem;
    background-color: var(--color-primary);
    padding: 1rem 2rem;
    color: white;
    border-radius: 1rem;
    animation: messageAppear 0.2s ease-out;
  }
}
