.game {
  background-image: linear-gradient(
      to right bottom,
      rgba(16, 29, 44, 0.8),
      rgba(11, 19, 29, 0.8)
    ),
    url(../img/background2.jpg);
  backdrop-filter: blur(10px);
  background-size: cover;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: min-content;
    padding: 3% 15% 7% 15%;
    height: min-content;
    // background-color: rgba(16, 18, 49, 1);
    // box-shadow: 0 0 2rem 1rem rgb(26, 29, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__choose {
    display: flex;
    align-items: center;
  }

  &__choose-text {
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
  }

  &__selectors {
    padding: 1rem;
    cursor: auto;
  }

  &__turn-selector,
  &__turn-image {
    width: 5rem;
    padding: 0.5rem;
  }

  &__turn-selector {
    border-radius: 25%;
    cursor: pointer;
  }

  &__active {
    cursor: auto;
    border-bottom: 2px solid var(--color-primary);
  }

  &__turn {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    visibility: hidden;
  }

  &__turn-text {
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }

  &__board {
    position: relative;
  }

  &__table {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    box-shadow: var(--shadow-light);
  }

  &__square {
    height: 18rem;
    border-radius: 0.5rem;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: var(--color-secondary);
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    box-shadow: var(--shadow-dark);
    transition: all 0.2s;

    &:hover,
    &:active {
      background-color: var(--color-primary-light);
      cursor: pointer;
    }
  }
}
