.header {
  background-color: var(--color-primary);
  border-bottom: 1px solid white;
  padding: 2rem;
  display: flex;
  justify-content: center;

  &__title {
    font-size: 3rem;
    text-transform: uppercase;
    margin-left: 3rem;
    letter-spacing: 0.25rem;
    color: lightgray;
  }
}
