.instructions {
  grid-row: 2 / span 1;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-grey-dark-3);
    color: white;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    padding: 0 0.5rem;
    fill: white;
  }

  &__header-text {
    font-size: 3.5rem;
    padding: 0.5rem;
    text-align: center;
  }

  &__text {
    font-size: 2rem;
    padding: 0.5rem;

    &::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.7rem;

      // Older browsers
      background-image: url(../img/SVG/chevron-thin-right.svg);
      background-size: cover;

      //Newer browsers - masks
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        background-color: white;
        -webkit-mask-image: url(../img/SVG/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/SVG/chevron-thin-right.svg);
        mask-size: cover;
        background-image: none;
      }
    }
  }

  &__examples {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    width: 25%;
  }

  &__example {
    width: 12rem;
    padding: 0.5rem;
  }
}
