.instructions {
  display: grid;
  grid-template-rows: 15% 42.5% 42.5%;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;

  &__header {
    width: 100%;
    display: flex;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    padding: 0 0.5rem;
    fill: white;
  }

  &__text {
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem;

    &::before {
      content: "";
      display: inline-block;
      height: 1.2rem;
      width: 1.2rem;
      margin-right: 0.7rem;

      // Older browsers
      background-image: url(../img/SVG/chevron-thin-right.svg);
      background-size: cover;

      //Newer browsers - masks
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        background-color: white;
        -webkit-mask-image: url(../img/SVG/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/SVG/chevron-thin-right.svg);
        mask-size: cover;
        background-image: none;
      }
    }
  }

  &__examples-wrapper {
    align-self: start;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    width: 70rem;
    max-width: 100%;
  }

  &__example {
    width: 20rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}
