.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-hg {
  margin-bottom: 8rem;
}

.heading-2 {
  font-size: 3.5rem;
  padding: 0.5rem;
  text-align: center;
}
