.heading {
  background-color: rgb(36, 54, 86);
  width: 100%;
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 2.5rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
