
body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: "Work Sans";
    font-size: 10px;
}

@media (max-width: 900px) { 
    body {
        font-size: 7px;
    }

}

/* add a media query to adjust font sizes when it gets smaller */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(59, 51, 144);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 130px;
    margin: 0 auto;
    width: 100%;
    z-index: 1;

}

#spacer {
    height: 130px;
}

.game-header {
    display: flex;
    margin-left: 35%;
    flex-direction: row;
}

.logo {
    width: 100px;
    height: auto;
}

.title {
    margin-left: 20px;
    font-size: 3em;
    font-weight: 800;
    color: white;
}


.navbar {
    justify-self: flex-end;
    text-decoration: none;
    margin-right: 5%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 20px;
}

.game-section {
    width: 47%;
}

.choose-shape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.shape-selector-text {
    font-weight: 600;
    font-size: 2.2em;
    margin-right: 20px;
}

.shape-selectors {
    justify-items: right;

}

.shape-selector {
    height: 40px;
    width: auto;
    cursor: pointer;
    opacity: 0.5;
}

.whos-turn {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

.circle-go {
    visibility: hidden;
}

.cross-go {
    visibility: hidden;
}

.turn-image {    
    height: 20px;
    padding: 10px;
}

/* need to stop pointer once game starts */
.active {
    border: solid black 2px;
    box-shadow: 3px 6px 15px -12px ;
    cursor: auto;
    border-radius: 1em;
    padding: 5px;
    opacity: 1;
}

.game-area {
    position: relative;
    width: 100%;
}

.game-table {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: auto auto auto;
    opacity: 1;
}

.inactive {
    opacity: 0.2;
}


.game-square {
    border: solid black 4px;
    border-bottom: 2px;
    width: 100%;
    height: auto;


}

.game-square:nth-last-child(-n+3) {
    border-bottom: solid black 4px;
}


.start-button {
    position: absolute;
    width: 15%;
    height: 3%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: green;
    color: white;
    padding: 15px 40px 15px 40px;
    cursor: pointer;
    text-align: center;
    font-size: 1vw;
    font-weight: 700;
    border-radius: 0.2em;
}


.instructions-section {
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 40px;
    font-weight: 300;
    width: 60%;
}

.instructions-header {
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
}

.instructions {
    padding-top: 20px;
    color: grey;
    font-size: 2em;    
}

.examples {
    margin-top: 40px;
    display: flex;
    justify-content: center;

}

.example {
    height: 100px;
    width: auto;
    padding: 20px;
}

.footer {
    width: 100%;
    background-color: rgb(253, 242, 190);
    height: 400px;
}
